body{
    background-image: url('images/background.png');
    background-size: 1430px 850px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
}

#pokedex {
    align-content: center;
    grid-column: 2/3;
    visibility: hidden;
    text-align: center;
}

#poke-image{
    height: 300px;
    width: 300px;
}

#poke-species{
    font-family: 'Permanent Marker', cursive;
    font-size: 5em;
    color: rgb(235, 204, 204);
}